<a href="https://colab.research.google.com/github/rushikeshburle/-Logistic-Regression-/blob/main/LogisticRegression_AdvanceFeb24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Logistic Regression**

In [ ]:
# step 1: import library
import pandas as pd

In [ ]:
# step 2: read dataset
df = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Bank%20Churn%20Modelling.csv')

In [ ]:
df.head()

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,Num Of Products,Has Credit Card,Is Active Member,Estimated Salary,Churn
0,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.info()

NameError: name 'df' is not defined

In [ ]:
df1 = pd.get_dummies(df, columns=['Geography','Gender'])

In [ ]:
df1.head()

In [ ]:
# step define y and X
df1.columns

In [ ]:
y = df1['Churn']
X = df1[[ 'CreditScore', 'Age', 'Tenure', 'Balance',
       'Num Of Products', 'Has Credit Card', 'Is Active Member',
       'Estimated Salary', 'Geography_France', 'Geography_Germany',
       'Geography_Spain', 'Gender_Female', 'Gender_Male']]

In [ ]:
# step : split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=2529)

In [ ]:
# select model
from sklearn.linear_model import LogisticRegression
logit = LogisticRegression()

In [ ]:
# train
logit.fit(X_train,y_train)

In [ ]:
# prediction
y_pred = logit.predict(X_test)

In [ ]:
# eveluate
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))